@model TesteCitel.WEB.Models.ProductViewModel


<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table" style="padding: 0px;">
    <thead class="aw-table-header-solid tableFloatingHeaderOriginal" style="position: static; margin-top: 0px; left: 225px; z-index: 3; width: 1108px; top: 51px;">
        <tr>

            <th style="min-width: 0px; max-width: none;">Nome</th>
            <th class="table-pesq-produto-col-preco" style="min-width: 130px; max-width: none;">Preço</th>
            <th class="table-pesq-produto-col-acoes" style="min-width: 105px; max-width: none;">Ações</th>
        </tr>
    </thead>
    <thead class="aw-table-header-solid tableFloatingHeader" style="opacity: 0; display: none;">
        <tr>
            <th class="aw-table-checkbox">
                <input type="checkbox">
            </th>
            <th>Nome</th>
            <th class="table-pesq-produto-col-preco">Preço</th>
            <th class="table-pesq-produto-col-acoes">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td class="table-pesq-produto-col-preco">R$ @product.Price</td>
                <td class="table-pesq-produto-col-acoes">
                    <div class="btn-group">
                        <button class="btn  btn-default btn-primary btn-xs" onclick="btnEditarProduto('@product.Id', '@product.Name', '@product.Price', '@product.CategoryId');">
                            Editar
                        </button>

                        <button class="btn  btn-default btn-danger btn-xs" onclick="ExcluirProduto('@product.Id');">
                            Excluir
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>